@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

header {
  background-color: rgba(0, 0, 0, 255);
  padding: 2.5em;
  text-align: left;
}

header > img {
  height: 7vh;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: medium;
  text-align: center;
}

button {
  padding: 1em;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: tomato;
  color: white;
  border: tomato;
  border-radius: 5%;
}

main {
  margin: auto;
  color: rgb(23, 23, 23);
}

h3 {
  padding: 1em;
  color: #23a9cc;
  font-size: large;
  font-weight: bold;
}

p {
  line-height: normal;
  line-height: 1.65;
  padding: 1em;
  padding-top: 0.5em;
}

footer {
  background-color: #29a0cb;
  padding: 1.5em;
  color: white;
}

footer > a {
  color: white;
  inline-size: 1.65;
  padding-top: 1.65;
}

footer > p {
  inline-size: 1.65;
  color: white;
}

footer > hr {
  width: 15%;
}

.inizio {
  background-image: url(/images/banner.jpg);
  background-position: center;
  text-align: center;
  padding: 20vh;
}

.contatto {
  font-weight: 600;
  padding: 1em;
  font-size: xx-large;
}

.contatto > h2 {
  font-size: xx-large;
  font-weight: bolder;
}

.titolo {
  font-family: "Monserrat", sans-serif;
  padding: 1.5em;
  padding-bottom: 0.5em;
  color: #23a9cc;
  font-size: xx-large;
  font-weight: bolder;
}

.computer > img {
  margin-left: 15em;
  margin-bottom: 7em;
  border-radius: 50%;
}

.descrizione {
  padding-left: 2em;
  text-align: left;
  line-height: 1.65;
  width: 30%;
  display: inline-block;
}

.garanzie {
  display: block;
  background-color: #ee3b03;
  color: white;
  padding: 4em;
}

.garanzie > p {
  font-size: large;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.garanzie > h4 {
  font-size: xx-large;
  font-weight: bolder;
}

.garanzie > h5 {
  font-size: large;
  font-weight: 400;
}

.ceo {
  padding-top: 0.5em;
  font-size: small;
}

.cosa-fai {
  padding-top: 6em;
  padding-bottom: 0px;
}

.cosa-fai > div > img {
  width: 80%;
}

.cosa-fai > h3 {
  padding-bottom: 0px;
}

.cosa-fai > div > p {
  text-align: center;
  display: inline-block;
  font-size: medium;
  margin-right: 2em;
  margin-left: 2em;
}

.pc {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0px;
}

.impara {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0px;
}

.lavora {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 5em;
}

.computer {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50%;
}

.descrizione > p {
  line-height: 1;
}

.lavoro {
  display: inline-block;
}
